@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 400px) {
  .background-gradient::before {
    background: rgb(226, 226, 226);
    z-index: -10;
    content: "";
    position: absolute;
    inset: 0px;
    transform: scale(1);
    pointer-events: none;
  }

  .dotted-background::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 50%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px), linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
    background-size: 15px 15px;
    z-index: -1; /* Ensure the dots are behind the content */
  }
}

@font-face {
  font-family: "KimjungchulGothic";
  src: url("../public/static/fonts/KimjungchulGothic-Light.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KimjungchulGothic";
  src: url("../public/static/fonts/KimjungchulGothic-Bold.ttf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
.ant-checkbox-group.css-dev-only-do-not-override-diro6f {
  width: min-content;
  display: flex;
  gap: 10px;
}

.ant-checkbox {
  display: none;
}

.ant-row {
  flex-flow: unset;
}

.ant-checkbox-wrapper {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 27px;
  font-size: 14px;
  background: #d3d3d3;
  border: 0.4px solid #838383;
  border-radius: 11px;
}
.ant-checkbox-wrapper span {
  padding: unset;
  width: min-content;
  white-space: nowrap;
}
.ant-checkbox-wrapper::after {
  display: none;
}
.ant-checkbox-wrapper.ant-checkbox-wrapper-checked {
  background: #6d6d6d;
  border: 0.4px solid #838383;
}
.ant-checkbox-wrapper.ant-checkbox-wrapper-checked span {
  color: #fff;
}

::-webkit-scrollbar {
  display: none;
}
